@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    word-wrap: break-word;
}

:root {
    --background-linen: #fff8e7;
    --accent-color: #8b82fa;
    --cta-color: #f34e4e;
    /* --font-color: #04151F;
    --font-color-2: #011936; */
    --font-color: #160C28;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--background-linen);
    color: var(--font-color);
}

nav {
    box-shadow: rgba(0, 0, 0, 0.123) 0px 25px 20px -20px;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.3rem 2rem;
}
.nav-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    gap: 2rem;
}

.logo {
    max-width: 100%;
}

.social-links {
    display: flex;
    justify-content: space-evenly;
    gap: 1.3rem;
    font-size: 1.3rem;
}

.main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    /* height: 30rem; */
    padding-right: 3rem;
}

.hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero {
    max-width: 100%;
    mix-blend-mode: multiply;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
    gap: 1rem;
}

.left {
    flex-basis: 45%;
}

.right {
    flex-basis: 55%;
}

.hero-text h2, .installation-section h3, ul {
    color: var(--font-color);
    font-weight: 500;
}

.hero-text h1, .section-content h1 {
    color: var(--font-color);
    font-size: 3rem;
}

.hero-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

button {
    padding: 1.5rem 1.5rem;
    border: none;
    font-size: 1.1rem;
    border-right: 1.9px solid var(--cta-color);
    background-color: transparent;
    color: var(--cta-color);
    font-weight: 600;
}

.secondary-btn {
    border: 1px solid var(--cta-color);
    background-color: var(--cta-color);
    color: var(--background-linen);
    border-radius: 0.3rem;
    font-weight: 600;
}

.section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem;
    /* height: 30rem; */
    padding: 0rem 3rem;
    gap: 2.5rem;
}

.iframe {
    flex-basis: 40%;
}

.installation-section {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 1rem;
    padding: 3rem 0rem;
}

ul {
    margin-left: 2rem;
}

footer {
    background-color: var(--accent-color);
    color: var(--font-color-white);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 10rem;
    font-size: 1.1rem;
}

.footer-text .fa {
    color: var(--cta-color);
}

/* hover */

.pointer-cursor {
    cursor: pointer;
}

i{
    padding: 5px;
    border: 1px solid transparent;
}

i:hover {
    color: #fbc416;
    border-radius: 50%;
}

.nav-center h4 {
    border-bottom: 2px solid transparent;
}

.nav-center .documentation {
    border-bottom: 2px solid var(--cta-color);
}

.nav-center h4:hover {
    border-bottom: 2px solid #fbc416;
}

.secondary-btn:hover {
    background-color: #f54242;
}