*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color);
    color: var(--font-color-dark);
    font-family: var(--font-family);
    overflow-x: hidden;
    line-height: 1.2;
}

a {
    text-decoration: none;
    color:var(--font-color-dark);
}

ul {
    list-style-type: none;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-family);
    font-size:100%;
    font-weight:normal;
}

p {
    margin: 1.5rem 0;
    font-size: 1.25rem;
}

/* media queries */

/* SMARTPHONES PORTRAIT */
@media only screen and (min-width: 300px) {

}


/* TABLETS PORTRAIT */
@media only screen and (min-width: 768px) {


}


/* TABLET LANDSCAPE / DESKTOP */
@media only screen and (min-width: 1024px) {


}